<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:teufels="http://typo3.org/ns/TEUFELS/TeufelsVh/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="teufelsCptCntBsFalimg"
                   label="TYPO3 :: FAL :: Image for Carousel"
                   localLanguageFileRelativePath="Resources/Private/Language/FalImageSimple/locallang.xlf"
                   options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-markkom-64x64-in-use.png\')}'}">

            <flux:field.checkbox name="falImageSimpleBlend" label="Blend it!" requestUpdate="1" />
            <f:if condition="{falImageSimpleBlend}">
                <f:then>
                    <v:variable.set name="aSettings" value="{v:variable.typoscript(path: 'plugin.tx_teufels_vh.settings.production')}" />
                    <flux:field.custom name="customImageMultiplyValues">
                        <div class="bs-callout bs-callout-warning">
                            <h4>Multiply Values</h4>
                            <p>Please use integer values between <code>0</code> and <code>255</code>.</p>
                            <p>Default: R ({aSettings.iR}), G ({aSettings.iG}), B ({aSettings.iB})</p>
                        </div>
                    </flux:field.custom>
                    <flux:field.input name="iR" label="R" minimum="0" maximum="255" default="{aSettings.falImageSimple.iR}" />
                    <flux:field.input name="iG" label="G" minimum="0" maximum="255" default="{aSettings.falImageSimple.iG}" />
                    <flux:field.input name="iB" label="B" minimum="0" maximum="255" default="{aSettings.falImageSimple.iB}" />
                </f:then>
            </f:if>

            <flux:field.custom name="customImage">
                <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                    <h4>Image</h4>
                    <p>Please choose an Image via <code>Create new Relation</code> (First button).</p>
                </div>
            </flux:field.custom>
            <flux:field.inline.fal name="tImage" label="Image" multiple="0" maxItems="1" showThumbs="1" allowedExtensions="jpg,jpeg,png" />

            <flux:field.custom name="customFocuspointHelperTool">
                <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                    <h4>Focuspoint Helper Tool</h4>
                    <p>Please use the <code>Focuspoint Helper Tool</code> in Page view to get data-focus-x and y.</p>
                </div>
            </flux:field.custom>
            <flux:field.input name="data-focus-x" label="data-focus-x" default="0.0" />
            <flux:field.input name="data-focus-y" label="data-focus-y" default="0.0" />

        </flux:form>
    </f:section>

    <f:section name="Preview">
        <v:variable.set name="aSettings" value="{v:variable.typoscript(path: 'plugin.tx_teufels_vh.settings.production')}" />
        <v:variable.set name="iR_" value="{f:if(then: '{iR}', else: '{aSettings.falImageSimple.iR}', condition: '{iR} != \'\'')}" />
        <v:variable.set name="iG_" value="{f:if(then: '{iG}', else: '{aSettings.falImageSimple.iG}', condition: '{iG} != \'\'')}" />
        <v:variable.set name="iB_" value="{f:if(then: '{iB}', else: '{aSettings.falImageSimple.iB}', condition: '{iB} != \'\'')}" />
        <v:variable.set name="iRadius_" value="{aSettings.falImageSimple.iRadius}" />

        <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
            <h4>Simple Image for Carousel</h4>
            <p>Simple Image (FAL).</p>

            <!-- FAL :: {image} -->
            <f:for each="{v:content.resources.fal(field: 'tImage')}" as="image">
                <f:render section="Thumbnail" arguments="{_all}" />
            </f:for>

        </div>
        <!-- uncomment this to use a grid for nested content elements -->
        <flux:widget.grid />
    </f:section>

    <f:section name="Main">

        <v:variable.set name="aSettings" value="{v:variable.typoscript(path: 'plugin.tx_teufels_vh.settings.production')}" />
        <v:variable.set name="iR_" value="{f:if(then: '{iR}', else: '{aSettings.falImageSimple.iR}', condition: '{iR} != \'\'')}" />
        <v:variable.set name="iG_" value="{f:if(then: '{iG}', else: '{aSettings.falImageSimple.iG}', condition: '{iG} != \'\'')}" />
        <v:variable.set name="iB_" value="{f:if(then: '{iB}', else: '{aSettings.falImageSimple.iB}', condition: '{iB} != \'\'')}" />
        <v:variable.set name="iRadius_" value="{aSettings.falImageSimple.iRadius}" />

        <!-- FAL :: {image} -->
        <f:for each="{v:content.resources.fal(field: 'tImage')}" as="image">
                <f:if condition="{image.link} != ''">
                    <f:then>
                        <a href="{v:uri.typolink( configuration: '{parameter: \'{image.link}\'}')}" class="position_absolute"></a>
                    </f:then>
                </f:if>
                <div class="blend_ focuspoint"
                     data-focus-x="{data-focus-x}"
                     data-focus-y="{data-focus-y}"
                     data-focus-w="{v:media.image.width(src: '{image.url}')}"
                     data-focus-h="{v:media.image.height(src: '{image.url}')}"
                     data-image-w="{v:media.image.width(src: '{image.url}')}"
                     data-image-h="{v:media.image.height(src: '{image.url}')}">

                    <f:if condition="{falImageSimpleBlend}">
                        <f:then>
                            <!-- mk:media.imageMultiply ViewHelper r="{iR_}" g="{iG_}" b="{iB_}" -->
                            <teufels:media.imageMultiply src="{image.id}" treatIdAsReference="1" relative="1" alt="{image.alternative}" r="{iR_}" g="{iG_}" b="{iB_}"/>
                        </f:then>
                        <f:else>
                            <!--
                            <v:media.image src="{image.id}" treatIdAsReference="1" relative="1" alt="{image.alternative}"/>
                            -->
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-src="{image.url}"
                                 width="{v:media.image.width(src: '{image.url}')}"
                                 height="{v:media.image.height(src: '{image.url}')}"
                                 alt="{image.alternative}"
                                 class="visibility_hidden"
                                 id="record-{record.uid}"/>
                        </f:else>
                    </f:if>

                     <f:if condition="{image.description} == ''">
                        <f:else>
                            <figcaption class="position_absolute">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <f:format.raw>
                                                {image.description}
                                            </f:format.raw>
                                        </div>
                                    </div>
                                </div>
                            </figcaption>
                        </f:else>
                    </f:if>

            </div>

        </f:for>


    </f:section>

    <f:section name="Thumbnail">
        <p>Please use the <code><a href="/typo3conf/ext/teufels_thm_jq_focuspoint/Resources/Public/Helper/focuspoint/?image_url={image.url}" target="_blank">Focuspoint Helper Tool</a></code> to get data-focus-x and y.</p>
        <f:if condition="{falImageSimpleBlend}">
            <f:then>
                <span>
                    <span style="display: inline-block;float: left;width: 20px; height: 20px; background: rgb({iR_},{iG_},{iB_})">&nbsp;</span>
                </span>
            </f:then>
        </f:if>
        <v:media.image src="{image.id}" treatIdAsReference="1" relative="1" width="150c" alt="{image.alternative}" />
    </f:section>

</div>